

.App {
  text-align: center;
  background-color: #663366;
  color: white;
  width: 800px;
  margin: auto;
  border-radius: 15px;
}

h1{
  padding-top: 5px;
}

button{
  height: 50px;
  width: 100px;
  font-weight: 900;
  border-radius: 10px;
  border: 2px solid white;
  margin: 10px 20px;
  color: #663366;
}

button:hover{
  background-color: #663366;
  color: white;
}

input{
  height: 35px;
  width: 250px;
  font-weight: 900;
  margin: 10px 10px;
  border-radius: 10px;
}

.task-todo p{
  width: 750px;
  color: #663366;
  border-radius: 10px;
  /* align-items: center; */
  border: 1px solid #663366;
  margin:auto;
  background-color: white;
  margin-bottom: 5px;
}